<!DOCTYPE html>
<html>
<head>
  <title>WebPlay.cc - Your online stream player</title>

  <meta property="og:title" content="WebPlay.cc - Your online stream player" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://webplay.cc/" />
  <meta property="og:image" content="http://webplay.cc/static/images/logo.png" />
  <meta property="og:site_name" content="WebPlay.cc - Your online stream player" />
  <meta property="og:fb:admins" content="1200183898" />
  <meta property="og:description" content="WebPlay.cc is a small site for you to listen to IceCast and ShoutCast streams directly in your browser. Usefull if you don't have any installed player available." />

  <link rel="stylesheet" href="/static/css/normalize/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/application.css" type="text/css" />
</head>
<body>
<header>
  <h1>WebPlay.cc - Your online stream player</h1>
</header>
<section>
  <p class="instruction">
    Just enter any URL to an <strong>MP3 .pls</strong> playlist
    (often titled as winamp playlist / stream) and let me do
    the rest for you.<br />
    Just remember: Don't close this tab or your stream will
    stop to play.
  </p>
  <p>
    <label for="url">Full URL to your playlist file:</label><br />
    <input type="text" name="url" id="url" />
  </p>
  <p>
    <button>Lets play this!</button>
  </p>
  <div id="jscontainer"></div>
</section>
<footer>
  Idea and realization by <a href="http://blog.knut.me">Knut Ahlers</a>
</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="/static/mediaplayer/jwplayer.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
</body>
</html>
