<!DOCTYPE html>
<html>
<head>
  <title>WebPlay.cc - Your online stream player</title>
  <link rel="stylesheet" href="/static/css/normalize/normalize.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/application.css" type="text/css" />
</head>
<body>
<header>
  <h1>WebPlay.cc - Your online stream player</h1>
</header>
<section>

</section>
<footer>

</footer>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script type="text/javascript" src="/static/mediaplayer/jwplayer.js"></script>
<script type="text/javascript" src="/static/js/application.js"></script>
</body>
</html>
